<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/accounts/login/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/login/" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://accounts.google.com/signin" target="_blank">
                <i class="fa-brands fa-google-plus"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy; StayVista private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
